<div class="flex items-start w-full gap-3 p-2">
  <%= render "chats/ai_avatar" %>

  <div class="max-w-[85%] text-sm space-y-4 text-primary">
    <p>Hey <%= Current.user&.first_name || "there" %>! I am your financial companion, ready to help you learn and grow your money skills.</p>

    <p>
      I can explain your Chancen ISA, help you understand budgeting, and teach you about finances. Just ask!
    </p>

    <div class="space-y-3">
      <p>Here's a few questions you can ask:</p>

      <% questions = [
        {
          icon: "handshake",
          text: "What is a Chancen ISA?"
        },
        {
          icon: "chart-area",
          text: "How does Chancen ISA impact my future income?"
        },
        {
          icon: "hand-coins",
          text: "Can I repay my Chancen ISA all at once?"
        },
        {
          icon: "wallet-minimal",
          text: "How to budget in volatile situations?"
        }
      ] %>

      <div class="space-y-2.5">
        <% questions.each do |question| %>
          <button data-action="chat#submitSampleQuestion"
                  data-chat-question-param="<%= question[:text] %>"
                  class="w-fit flex items-center gap-2 border border-tertiary rounded-full py-1.5 px-2.5 hover:bg-gray-100">
            <%= icon(question[:icon]) %> <%= question[:text] %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
