<%
  header_title current_partner&.translation(:registration, :privacy, :heading, default: t(".heading"))
%>
<br />
<br />
<div class="max-w-xl mx-auto space-y-8 bg-surface-inset border border-secondary rounded-2xl p-8 text-primary">
  <div class="space-y-4 text-center">
    <p class="text-secondary text-base leading-relaxed"><%= current_partner&.translation(:registration, :privacy, :subheading, default: t(".subheading")) %></p>
    <p class="text-secondary leading-relaxed"><%= current_partner&.translation(:registration, :privacy, :body, default: t(".body")) %></p>
  </div>

  <div class="space-y-3 text-left">
    <h3 class="text-lg font-medium text-primary"><%= current_partner&.translation(:registration, :privacy, :key_points_heading, default: t(".key_points_heading")) %></h3>
    <ul class="list-disc space-y-2 text-secondary pl-6">
      <li><%= current_partner&.translation(:registration, :privacy, :points, :anonymised, default: t(".points.anonymised")) %></li>
      <li><%= current_partner&.translation(:registration, :privacy, :points, :personalised, default: t(".points.personalised")) %></li>
      <li><%= current_partner&.translation(:registration, :privacy, :points, :no_sharing, default: t(".points.no_sharing")) %></li>
    </ul>
  </div>

  <p class="text-secondary leading-relaxed"><%= current_partner&.translation(:registration, :privacy, :agreement, default: t(".agreement")) %></p>

  <div class="flex flex-col gap-3 pt-4 sm:flex-row">
    <%= render DS::Link.new(text: current_partner&.translation(:registration, :privacy, :agree_cta, default: t(".agree_cta")), href: new_session_path(partner_key: @partner.key), variant: :primary, full_width: true, class: "sm:w-1/2") %>
    <%= render DS::Link.new(text: current_partner&.translation(:registration, :privacy, :learn_more_cta, default: t(".learn_more_cta")), href: consent_partner_registration_path(partner_key: @partner.key), variant: :primary, full_width: true, class: "sm:w-1/2") %>
  </div>
</div>
