<%= render "layouts/shared/htmldoc" do %>
  <% simplified_settings_layout = Current.user&.intro? %>
  <div class="flex flex-col<%= simplified_settings_layout ? '' : ' lg:flex-row' %> h-full bg-surface">
    <% unless simplified_settings_layout %>
      <div class="p-4 w-full md:w-96 shrink-0 md:h-full md:overflow-y-auto">
        <%= render "settings/settings_nav" %>
      </div>
    <% end %>

    <main class="px-4 pt-2 md:py-4 md:px-10 grow flex h-full overflow-y-auto">
      <div class="relative max-w-4xl mx-auto flex flex-col w-full h-full">
        <div class="grow space-y-4 overflow-y-auto -mx-1 px-1 pb-12">
          <% unless simplified_settings_layout %>
            <% if content_for?(:breadcrumbs) %>
              <%= yield :breadcrumbs %>
            <% else %>
              <%= render "layouts/shared/breadcrumbs", breadcrumbs: @breadcrumbs %>
            <% end %>
          <% end %>

          <% if content_for?(:page_title) %>
            <h1 class="text-primary text-3xl md:text-xl font-medium">
              <%= content_for :page_title %>
            </h1>
          <% end %>

          <%= yield %>

          <% unless simplified_settings_layout %>
            <%= settings_nav_footer_mobile %>
          <% end %>
        </div>

        <% unless simplified_settings_layout %>
          <div class="mt-4">
            <%= settings_nav_footer %>
          </div>
        <% end %>
      </div>
    </main>
  </div>
<% end %>
